In [1]:
import pandas as pd
weight = [4, 6, 8]
profit = [7, 6, 9]

In [2]:
# Dynamic Programming | Bottom-Up Approach (Follows Lecture way not GFG way table is just constructed differently)
# NOTE THIS IS 0-1 KNAPSACK PROBLEM
def knapsack01(C, weight, profit, n):
    # Initialise the DP table
    # Values are all initialised to 0 but in actuality, only row 0 and col 0 will be 0
    V = [[0 for i in range(C + 1)] for i in range(n + 1)]
    
    # Construct the table in a bottom up manner
    for i in range(1, n + 1): # Iterate through the ROWS (Dictates the capacity limit we set)
        for w in range(1, C + 1): # Iterate through the COLS (Dictates the number of objects we can consider)
            if weight[i-1] <= w: # If the weight of object is less than the capacity limit
                # Max value of the two possible options
                # 1: We DO NOT include the i'th object -> V[i-1][w]
                # 2: We include the i'th object -> V[i-1][w-wt[i-1]] + val[i-1]
                V[i][w] = max(V[i-1][w], V[i-1][w-weight[i-1]] + profit[i-1])
            else:
                V[i][w] = V[i-1][w]
    return V[n][C], V 

# TIME COMPLEXITY: O(numOfObjects * weights)
# SPACE COMPLEXITY: O(numOfObjects * weights) -> essentially the size of the table constructed

In [3]:
# UNBOUNDED KNAPSACK
def knapsackUB(C, weight, profit, n):
    # Initialise the DP table
    # Values are all initialised to 0 but in actuality, only row 0 and col 0 will be 0
    V = [[0 for i in range(C + 1)] for i in range(n + 1)]
    
    # Construct the table in a bottom up manner
    for i in range(1, n + 1): # Iterate through the ROWS (Dictates the capacity limit we set)
        for w in range(1, C + 1): # Iterate through the COLS (Dictates the number of objects we can consider)
            if weight[i-1] <= w: # If the weight of object is less than the capacity limit
                # Max value of the two possible options
                # 1: We DO NOT include the i'th object -> V[i-1][w]
                # 2: Even if we include that instance, still can include its multiple instance
                V[i][w] = max(V[i-1][w], V[i][w-weight[i-1]] + profit[i-1])
            else:
                V[i][w] = V[i-1][w]
    return V[n][C], V 

# TIME COMPLEXITY: O(numOfObjects * weights)
# SPACE COMPLEXITY: O(numOfObjects * weights) -> essentially the size of the table constructed

In [4]:
ans, array = knapsackUB(14, weight, profit, 3)
print(ans)
print(array)

21
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 7, 7, 7, 7, 14, 14, 14, 14, 21, 21, 21], [0, 0, 0, 0, 7, 7, 7, 7, 14, 14, 14, 14, 21, 21, 21], [0, 0, 0, 0, 7, 7, 7, 7, 14, 14, 14, 14, 21, 21, 21]]

In [5]:
pd.DataFrame(array)

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1   0   0   0   0   7   7   7   7  14  14  14  14  21  21  21
2   0   0   0   0   7   7   7   7  14  14  14  14  21  21  21
3   0   0   0   0   7   7   7   7  14  14  14  14  21  21  21